:root {
	--transform: unset;
}

html, p, h1, h2, h3, ul {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
}

.foo {
	display: none;
}

.wrapper {
	width: 94%;
	max-width: 1560px;
	margin: auto;
	box-sizing: border-box;
}

/* Langs control (MOBILE version) ------------------------------------------------------------------------------------------------------------------------------------------- */
.logo {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.langs {
	cursor: pointer;
}

.arrow_langs {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    right: -37px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 4;
}

.arrow_langs::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 4px solid #3d1c9f;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transform: translate(4px, 6px) rotate(180deg);
}

.langs li {
    width: 29px;
    height: 21px;
    position: absolute;
 	top: 0;
    right: -30px;
}

.langs li:first-child {
    background: center / contain no-repeat url(imgs/english.png);
    z-index: 3;
}

.langs li:nth-child(2) {
    background: center / contain no-repeat url(imgs/german.png);
    z-index: 2;
}

.langs li:last-child {
    background: center / contain no-repeat url(imgs/italy.png);
    z-index: 1;
}

/* Langs control END --------------------------------------------------------------------------------------------------------------------------------------------------------- */

.wrapper_desktop_nav {
	display: none;
}

.wrapper_nav .social_btns {
	display: none;
}

.sign_up_cta {
	display: none;
}

.mobile_header {
	display: flex;
	justify-content: space-between;
	padding-top: 23px;
	padding-bottom: 23px;
}

.mobile_nav {
	display: none;
	position: absolute;
    top: 87px;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

.mobile_nav_list li {
	text-align: center;
	padding-top: 23px;
	padding-bottom: 23px;
	border-bottom: 1px solid #e1e0e0;	
}

.icon_facebook,
.icon_twitter,
.icon_youtube {
	width: 32px;
	height: 32px;
	display: block;
}

.icon_facebook {
	background-image: url('imgs/icon_facebook.png');
}

.icon_twitter {
	background-image: url('imgs/icon_twitter.png');
}

.icon_youtube {
	background-image: url('imgs/icon_youtube.png');
}

.nav_btn {
	width: 43px;
	height: 40px;
	background-image: url('imgs/icon_hamburger_menu.png');
}

.nav_btn:active {
	cursor: pointer;
	width: 43px;
	height: 40px;
	background-image: url('imgs/icon_hamburger_menu_active.png');
}

.mobile_nav_item {
	font-size: 25px;
	color: #2f0092;
}

.mobile_nav_cta {
	background-color: #2f0092;
	display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
	padding-bottom: 30px;
}

.social_icons_list {
	display: flex;
	flex-direction: row;
}

.social_icons_list li {
	margin-right: 8px;
}

.social_icons_list li:last-child {
	margin-right: 0;
}

.login_cta {
	font-size: 25px;
	color: #fff;
}

/* Hero --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

#hero_section {
	min-height: 646px;
	background-image: url('imgs/slide_1.png');
	background-position: 60% 0%;
	position: relative;
	top: 0;
	left: 0;
}

.wrapper_hero_text {
	width: 276px;
	padding-top: 50px;
}

.hero_heading {
	font-family: 'Work Sans', sans-serif;
	font-size: 35px;
	font-weight: 700;
	line-height: 1.2;
	color: #fff;
}

.hero_description {
	font-size: 35px;
	font-weight: 300;
	line-height: 1.2;
	color: #fff;
}

.text_higlights_on_dark {
	color: #7dc7f4;
}

.wrapper_features {
	background-color: #2f0092;
	padding-top: 35px;
    padding-bottom: 35px;
}

.feature_item_heading {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #7dc7f4;
	line-height: 1;
}

.feature_item_text {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #fff;
	line-height: 1;
}

.features_list {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.features_list li {
	min-width: 137px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 30%;
}

.features_list li:first-child, 
.features_list li:nth-child(2) {
	margin-top: 0;
}

/* Hero END --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* About --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

#about_section {
	background-color: #faf9fa;
}

.wrapper_section_content {
	padding-top: 86px;
	padding-bottom: 86px;
}

.text_higlights_on_white {
	color: #2f0092;
}

.secondary_heading {
	font-family: 'Work Sans', sans-serif;
	font-size: 25px;
	font-weight: 700;
	color: #1d2121;
	line-height: 1.2;
}

.secondary_description {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.6;
	color: #787186;
	margin-top: 15px;
}

.wrapper_more_content {
	margin-top: 50px;
}

.icons_about_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.icons_about_list li {
	max-width: 372px;
    width: 100%;
    text-align: center;
    filter: drop-shadow(0px 0px 10px rgba(243, 226, 247, 0.9));
    background: #fff;
    height: 197px;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 85px;
    margin-bottom: 23px;
    border-radius: 5px;
}

.icons_about_list li:last-child {
	margin-bottom: 0;
}

.icon_about_overlay {
	box-sizing: border-box;
	display: block;
    width: 200px;
    height: 285px;
    background: #fff;
    clip-path: polygon(100% 100%, 0 100%, 0 30%, 0% 31%, 26% 0%, 74% 0%, 100% 31%, 100% 30%);
    margin: auto;
    padding-top: 8px;
    position: relative;
    top: -87px;
    left: 0;
}

.icon_about_overlay::before {
	content: '';
    display: block;
    width: 180px;
    height: 160px;
    margin: auto;
    clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    background: linear-gradient(to top, #2f0092, #6a24ff);
}


.icon_license {
	display: block;
    width: 101px;
    height: 91px;
    position: relative;
    top: -128px;
    margin: auto;
    background-image: url(imgs/icon_license.png);
}

.icon_funds {
	display: block;
    width: 88px;
    height: 88px;
    position: relative;
    top: -128px;
    margin: auto;
	background: url(imgs/icon_funds.png);
}

.icon_specialists {
	display: block;
    width: 78px;
    height: 79px;
    position: relative;
    top: -128px;
    margin: auto;
	background: url(imgs/icon_specialists.png);
}

.icon_global {
	display: block;
    width: 73px;
    height: 80px;
    position: relative;
    top: -128px;
    margin: auto;
	background: url(imgs/icon_global.png);
}

.icon_about_heading {
	display: inline-block;
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #787186;
}

.icon_about_text {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #787186;
/*	width: 250px;*/
}

.icons_about_list_text {
	position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 230px;
}

/* About END --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Benefits --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


#benefits_section {
	background-image: url(imgs/slide_2.png);
    background-position: 43% 0%;
    background-size: cover;
}

#benefits_section .secondary_heading, 
#benefits_section .secondary_description {
	color: #fff;
}

.benefits_heading {
	font-family: 'Work Sans', serif;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}

.benefits_text {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    line-height: 1.4;
    font-weight: 400;
    color: #787186;
    width: 80%;
}

#benefits_section .wrapper_more_content {
	max-width: 953px;
}

.benefits_icon_1 {
	width: 44px;
	height: 44px;
	background: no-repeat url('imgs/icon_1.png');
}

.benefits_icon_2 {
	width: 44px;
	height: 37px;
	background: no-repeat url('imgs/icon_2.png');
	
}

.benefits_icon_3 {
	width: 34px;
	height: 34px;
	background: no-repeat url('imgs/icon_3.png');	
}

.benefits_icon_4 {
	width: 42px;
	height: 44px;
	background: no-repeat url('imgs/icon_4.png');
}

.benefits_icon_5 {
	width: 37px;
	height: 38px;
	background: no-repeat url('imgs/icon_5.png');
}

.benefits_icon_6 {
	width: 36px;
	height: 34px;
	background: no-repeat url('imgs/icon_6.png');
}

#benefits_section .wrapper_more_content {
	display: flex;
	flex-wrap: wrap;	
}

.benefits_col:nth-child(2) {
	margin-top: 50px;
}

.benefits_list {
	margin-top: 15px;
}

.benefits_list li {
	box-sizing: border-box;
	margin-bottom: 10px;
	max-width: 450px;
	min-height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: #fff;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	/*width: 80%;*/
} 

.benefits_list li:last-child {
	margin-bottom: 0;
}


/* Benefits END --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Markets --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.icon_forex {
	width: 91px;
	height: 78px;
	background: center no-repeat url('imgs/icon_forex.png');

}

.icon_metals {
	width: 115px;
	height: 74px;
	background: center no-repeat url('imgs/icon_metals.png');

}

.icon_indices {
	width: 95px;
	height: 74px;
	background: center no-repeat url('imgs/icon_indices.png');

}

.icon_energies {
	width: 86px;
	height: 81px;
	background: center no-repeat url('imgs/icon_energies.png');

}

.icon_crypto {
	width: 95px;
	height: 75px;
	background: center no-repeat url('imgs/icon_crypto.png');

}

.icon_shares {
	width: 95px;
	height: 75px;
	background: center no-repeat url('imgs/icon_shares.png');
}

.icons_markets_list .icon_heading {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #787186;
	display: inline-block;
	margin-top: 12px;
}

.icons_markets_list .icon_text {
	display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #787186;
    line-height: 1.4;
    text-align: center;
}

.icons_markets_list {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.icons_markets_list li {
    max-width: 240px;
    width: 48%;
    box-shadow: 0px 0px 10px 1px rgb(243 226 247 / 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; 
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.icons_markets_list li:nth-child(2),
.icons_markets_list li:nth-child(4),
.icons_markets_list li:nth-child(6) {
	margin-left: 10px;
}


/* Markets END --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* CTA --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
#cta_section {
	background-image: url(imgs/color_bg.png);
    background-position: top left;
    background-size: cover;
}

#cta_section .secondary_heading,
#cta_section .secondary_description {
	text-align: center;
	color: #fff;
}

.btn_register {
	box-sizing: border-box;
	display: block;
    padding-top: 12px;
    text-align: center;
    background-color: #fff;
    width: 190px;
    height: 48px;
    margin: auto;
    margin-top: 40px;
    clip-path: polygon(8% 0%, 92% 0%, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #2f0092;
}

/* CTA END --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Download  ---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#download_section {
	background-image: url(imgs/downloads_bg_m.png);
    background-position: 52% 35%;
    background-repeat: no-repeat;
}

#download_section .secondary_description {
	margin-top: 0;
}

#download_section .subheading {
	font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #787186;
    margin-top: 15px;
}

.btn_download {
	box-sizing: border-box;
	display: block;
    padding-top: 12px;
    text-align: center;
    background: linear-gradient(20deg, #2f0092, #7dc7f4);
    width: 190px;
    height: 48px;
    margin: auto;
    margin-top: 40px;
    clip-path: polygon(8% 0%, 92% 0%, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}


/* Download END -------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* FAQ -------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#faq_section {
	background-color: #faf9fa;
}

.faq_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}

.faq_list_item {
    width: 100%;
    box-sizing: border-box;
    max-width: 512px;
    min-width: 300px;
    margin-bottom: 10px;
    position: relative;
    top: 0;
    left: 0;
}

.faq_list_item:last-child {
	margin-bottom: 0;
}

.faq_list_item:nth-child(5),
.faq_list_item:nth-child(6),
.faq_list_item:nth-child(7),
.faq_list_item:nth-child(8),
.faq_list_item:nth-child(9) {
	display: none;
}

.question {
	box-sizing: border-box;
    position: relative;
    top: 0px;
    left: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    height: 77px;
    padding-left: 10px;
    padding-right: 66px;
    padding-top: 10px;
    background: linear-gradient(-7deg, #2f0092, #535bbf);
    border-radius: 0px 15px 15px 15px;
    z-index: 1;
}

.question::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 203px;
	height: 70px;
	background-image: url(imgs/faq_dots_overlay.png);
	opacity: 0.4;
}

.icon_faq_arrow {
	display: inline-block;
	width: 46px;
	height: 46px;
	background-image: url(imgs/icon_faq_arrow.png);
	position: absolute;
	top: 15px;
    right: 10px;
    transform: var(--transform);
    z-index: 2;
}

.wrapper_answer {
	display: none;
	position: relative;
	top: -12px;
	left: 0;
	background-color: #fff;
	padding: 15px;
	padding-top: 27px;
	padding-bottom: 20px;
	border-radius: 0px 0px 5px 5px;
}

.answer {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #787186;
}

.btn_show_more {
	box-sizing: border-box;
	display: block;
	position: relative;
	top: 0;
	left: 0;
    padding-top: 16px;
    text-align: center;
    background: #faf9fa;
    width: 190px;
    height: 48px;
    margin: auto;
    margin-top: 17px;
    clip-path: polygon(8% 0%, 92% 0%, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #300293;	
}

.btn_show_more::before {
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 190px;
    height: 49px;
    background: linear-gradient(20deg, #2f0092, #7cc6f4);
    clip-path: polygon(8% 50%, 92% 50%, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
    z-index: -1;
}

.btn_show_more::after {
	content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 186px;
    height: 48px;
    background: #faf9fa;
    clip-path: polygon(8% 50%, 92% 50%, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
    z-index: -1;
}

/* FAQ END -------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Footer  -------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.footer {
	background-color: #2f0092;
	padding-top: 15px;
	padding-bottom: 20px;
}

.footer_top {
	padding-bottom: 15px;
	border-bottom: 1px solid #402ca8;
	position: relative;
	top: 0;
	left: 0;
}
	
.footer_bottom	{
	padding-bottom: 20px;
	border-bottom: 1px solid #402ca8;
}

.footer_nav {
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.footer_nav_item {
	color: #fff;
	margin-top: 5px;
}

.footer_bottom .social_btns {
	padding-top: 15px;
	padding-bottom: 15px;
}

.footer_bottom .social_icons_list {
	justify-content: center;
}

.disclaimer_text {
	color: #9891fd;
	font-size: 12px;
}

.disclaimer_text:nth-child(2) {
	margin-top: 10px;
}

.copyrights {
	font-size: 12px;
	color: #fff;
	margin: auto;
	text-align: center;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.icon_master {
	width: 53px;
	height: 41px;
	background: no-repeat url(imgs/icon_master.png);
}

.icon_visa {
	width: 66px;
	height: 41px;
	background: no-repeat url(imgs/icon_visa.png);
}

.icon_bank {
	width: 40px;
	height: 41px;
	background: no-repeat url(imgs/icon_bank.png);
}

.icon_bitcoin {
	width: 41px;
	height: 41px;
	background: no-repeat url(imgs/icon_bitcoin.png);
}

.payments_icons_list {
	display: flex;
    flex-wrap: wrap;
    width: 45%;
    justify-content: space-evenly;
    max-width: 270px;
    position: absolute;
    right: 0;
    top: 0;
}

.payments_icons_list li {
	margin-bottom: 10px;
}

.payments_icons_list li:nth-child(3),
.payments_icons_list li:nth-child(4) {
	margin-bottom: 0;
}

/* Footer END  -------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



/* Media Queries ---------------------------------------------------------------------------------------------------------------------------------  */
@media only screen and (min-width: 479px) {
	.features_list li:nth-child(3) {
		margin-top: 0;
	}

	.icons_markets_list li:nth-child(2),
	.icons_markets_list li:nth-child(4),
	.icons_markets_list li:nth-child(6) {
		margin-left: 10px;
	}

	.btn_download {
		margin-left: 0;
		margin-right: 0;
	}
}


@media only screen and (min-width: 599px) {

	.mobile_nav_cta .social_icons_list {
		display: none;
	}

	.sign_up_cta {
		display: block;
		font-size: 25px;
    	color: #fff;
	}

	.mobile_nav_cta {
		padding-top: 30px;
    	padding-bottom: 30px;
	}

	.wrapper_nav .social_btns {
		display: block;
	}

	.footer_bottom .social_btns {
		display: none;
	}

	.wrapper_nav {
		display: flex;
    	align-items: center;
	}
	
	.nav_btn {
		margin-left: 20px;
	}

	.hero_heading {
    	font-size: 50px;
    }

    .hero_description {
    	font-size: 50px;
    }

    .wrapper_hero_text {
    	width: 350px;
    }

    .icons_markets_list li:nth-child(2),
	.icons_markets_list li:nth-child(4),
	.icons_markets_list li:nth-child(6) {
		margin-left: 0;
	}
}

@media only screen and (min-width: 959px) {

	.wrapper {
		width: 83%;
	}
	
	.hero_heading {
		font-size: 86px;
	}

	.hero_description {
		font-size: 60px;
	}

	.secondary_heading {
		font-size: 35px;
	}

	.secondary_description {
		margin-top: 0;
		font-size: 18px;
	}

	#benefits_section .wrapper_text {
		width: 550px;
	}

	.benefits_col {
		width: 48%;
	}	

	.feature_item_heading {
		font-size: 18px;
	}

	.feature_item_text {
		font-size: 14px;
	}

	.icon_about_heading {
		font-size: 18px;
	}

	.icon_about_text {
		font-size: 14px;
	}

	.benefits_heading {
		font-size: 18px;
	}

	.benefits_text {
		font-size: 14px;
	}

	.icons_markets_list .icon_heading {
		font-size: 18px;
	}

	.icons_markets_list .icon_text {
		font-size: 14px;
	}

	#download_section .subheading {
		font-size: 25px;
	}

	.question {
		font-size: 18px;
	}

	.answer {
		font-size: 16px;
	}

	.footer_nav_item {
		font-size: 16px;
	}

	.disclaimer_text {
		font-size: 14px;
		width: 49%;
	}

	.copyrights {
		font-size: 14px;
	}

	.wrapper_hero_text {
		width: 610px;
	}

	.hero_description {
		width: 500px;
	}

    #hero_section {
  	  background-position: 48% 0%;
  	}

	.benefits_col:nth-child(2) {
		margin-top: 0;
	}

	.benefits_list li {
 		height: 108px;

	}

	#benefits_section .wrapper_more_content {
	    justify-content: space-between;
	}

	#benefits_section {
	    background-position: 75% 0%;
    }

    .icons_markets_list li {
	    margin-bottom: 25px;
	    padding-left: 18px;
	    padding-right: 18px;
	    padding-top: 30px;
	    padding-bottom: 30px;
   }

   #markets_section .wrapper_text {
   		width: 670px;
   		line-height: 1.3;
   	}
   

   	#download_section .secondary_description {
   		width: 680px;
   	}

   	.faq_list_item:nth-child(5),
	.faq_list_item:nth-child(6),
	.faq_list_item:nth-child(7),
	.faq_list_item:nth-child(8),
	.faq_list_item:nth-child(9) {
		display: block;
	}

   	.faq_list_item {
		width: 49%;
	}

	.btn_show_more {
		display: none;
	}

   	.footer_nav {
	    display: flex;
	    flex-direction: row;
	}

	.wrapper_footer_nav {
		display: flex;
	}

	.footer_nav_item:first-child {
		margin-top: 0;
		background: no-repeat url('imgs/footer_trading_overlay.png');
	    display: block;
	    width: 210px;
	    height: 41px;
	    padding-top: 9px;
	    text-align: center;
	}

	.footer_nav_item:nth-child(2) {
		margin-top: 0;
		margin-left: 5px;
		background: no-repeat url('imgs/footer_about_overlay.png');
	    display: block;
	    width: 127px;
	    height: 41px;
	    padding-top: 9px;
	    text-align: center;
	}

	.disclaimer {
		display: flex;
		justify-content: space-between;

	}


	.disclaimer_text:nth-child(2) {
    	margin-top: 0px;
	}

	.footer_bottom {
		padding-top: 20px;
	}
}


@media only screen and (min-width: 1279px) {

	.wrapper_hero_text {
	    padding-top: 150px;
	}

	.hero_description {
		width: 100%;
	}
 
	.features_list li {
    	width: unset;
	}

	.features_list li:nth-child(4),
	.features_list li:nth-child(5),
	.features_list li:nth-child(6) {
		margin-top: 0;
	} 

	#markets_section .wrapper_text {
    	width: unset;
	}


	#benefits_section .wrapper_text {
    	width: 55%;
	}

	.icons_markets_list {
		justify-content: space-between;
	}

	.icons_markets_list li {
		width: 15%;
	}

	#download_section {
	    background: url(imgs/slide_3.png);
	    height: 550px;
	}

   	.wraper_desktop_nav {
   		display: block;
   	}

   	.mobile_header {
   		display: none;
   	}

   	.icon_english {
   		display: block;
		width: 29px;
		height: 21px;
   		background: center / contain no-repeat url(imgs/english.png);
	}

   	.icon_german {
   		display: block;
   		width: 29px;
		height: 21px;
	    background: center / contain no-repeat url(imgs/german.png);		
   	}

   	.icon_italian {
   		display: block;
   		width: 29px;
		height: 21px;
		background: center / contain no-repeat url(imgs/italy.png);
   	}

   	.wrapper_desktop_nav {
   		display: flex;
   		align-items: center;
   		justify-content: space-between;
   		background: transparent;
   		padding-top: 23px;
    	padding-bottom: 23px;
   	}

   	.foo {
	    width: 920px;
	    height: 92px;
	    position: absolute;
	    top: 0;
	    left: 0;
	    border-right: 57px solid transparent;
	    border-top: 92px solid #fff;
	    display: block;
   	}

   	.wrapper_desktop_nav .logo {
   		flex-grow: 1;
   	}

   	.wrapper_desktop_nav .social_btns {
   		flex-grow: 3;
   		z-index: 1;
   	}

   	.desktop_nav_list {
   		display: flex;
   		flex-grow: 1;
   		z-index: 1;
	}

	.desktop_nav_item {
		margin-left: 45px;
		font-size: 18px;
		font-weight: 400;
		color: #2f0092;
	}

	.desktop_nav_item:hover {
		color: #7dc7f4;
	}

	.desktop_cta {
		display: flex;
		align-items: center;
		flex-grow: 0;
	}

	.langs_list {
		display: flex;
	}

	.langs_list li {
		margin-right: 6px;
		opacity: .3;
	}

	.langs_list li:last-child {
		margin-right: 0;
	}

	.langs_list .lang_active {
		opacity: 1;
	}

	.btn_login {
		box-sizing: border-box;
	    display: block;
	    padding-top: 9px;
	    text-align: center;
	    background: linear-gradient(20deg, #2f0092, #7dc7f4);
	    width: 115px;
	    height: 45px;
	    margin-right: 34px;
	    clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
	    font-family: 'Work Sans', sans-serif;
	    font-size: 16px;
	    font-weight: 700;
	    color: #fff;
	}

	#about_section {
		background: url('imgs/about_section_bg.png');
	}

	.faq_list_item {
		width: 33%;
	}

	.question {
		font-size: 16px;
	}
}

@media only screen and (min-width: 1599px) {
	.btn_login {
		margin-left: -246px;
	}	

}

@media only screen and (min-width: 1920px) {
	.btn_login {
		margin-left: 62px;
	}	

}












